html {
  font-family:'Segoe UI',Helvetica,Arial,sans-serif;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

body {
  color: #222;
  background: #eee;
}

a, a:visited, a:hover {
  color: #222;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

textarea {
  color: #222;
  background: #eee;
  border: 1px solid #222;
}

nav a {
  margin: 0 10px 0 0;
}

.topNav {
  background: #bbb;
  padding: 5px;
}
.subNav {
  background: #ccc;
  padding: 5px;
}

.profileImg {
  margin-top: 5px;
  float: right;
}

.webPreview {
  border: 1px solid #0f0;
  display: block;
  margin: 0 auto;
  width: 960px;
  height: 600px;
}

